.App{
      width: 100%;
    margin: 0 auto;
  }
.header{
  width: 100%;
  padding: 20px 0;
}

.list{
  width: 25%;
  margin-left: 8%;
}
.main{
  width: 67%;
}

list,
main{
  float: left;
  padding: 200px 0;
}

header,
list,
main{
  border: 1px solid rgba(32, 31, 31, 0.8);
  margin-bottom: 10px;
  border-radius: 3px;
}


*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #2980b9;
  color: #FFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: 0;
}

